body { 
    margin: 2.5; font-family: 'Trebuchet MS'; background-color: #00d0ff; 
}
.navbar { 
    display:flex; justify-content:space-between; padding:25px; background:#000000; color:#ffffff; 
}
.board { 
    display:flex; gap:10px; padding:10px; background-color: rgb(126, 126, 126); 
}
.column { 
    flex:1; background:#f4f4f4; padding:10px; 
}
.task { 
    background:white; padding:8px; margin-bottom:8px; cursor:pointer; 
}
.modal { 
    position:fixed; inset:0; background:rgba(0,0,0,.5); display:flex; align-items:center; justify-content:center; 
}
.modal-box { 
    background:white; padding:20px; width:300px; 
}
.button{
    font-family:Georgia, 'Times New Roman', Times, serif;
}